
.off-canvas-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  z-index: 1000;
}

.off-canvas-menu.open {
  left: 0;
}

.off-canvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 999; 
  pointer-events: none; 
}

.off-canvas-overlay.open {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  pointer-events: all; 
}

.off-canvas-content {
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  margin-bottom: 20px;
  display: block;
}

.off-canvas-search {
  display: flex;
  height: 70px;

  padding: 0 10px 0 20px;
}

.off-canvas-search .search-input {
}

.off-canvas-search .search-btn {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.off-canvas-buttons {
  display: flex;
  justify-content: space-between;
}

.off-canvas-buttons .tab-btn {
  flex: 1;
  padding: 18px 0;
  background-color: #f8f9fa;
  color: #909090;
  border: 1px solid #ddd;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.off-canvas-buttons .tab-btn.active {
  color: #333333;
  border-bottom: 2px solid rgba(131, 183, 53, 1);
  background-color: rgba(0, 0, 0, 0.04);
}

.off-canvas-buttons .tab-btn:last-child {
  margin-right: 0;
}

.off-canvas-buttons .tab-btn:hover {
  border-bottom: 2px solid rgba(131, 183, 53, 1);
}

.off-canvas-links {
  list-style: none;
}
.off-canvas-links li a{
  padding: 15px 20px;
  border-bottom: 1px solid #cbcbcb;
}
.off-canvas-links{
  padding-left: 0px;
}

.off-canvas-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: block;
}

.off-canvas-links a:hover {
  color: #28a745;
}
